
body{
  padding : 0px;
  margin: 0px;
  background : #f2f6e9;
}

/*--- Navigation bar ---*/

.navbar {
  background : #30285B;
}

.nav-link, .navbar-brand {
  color : #fff;
  cursor : pointer;
  margin-left: 20px;
}

.nav-link {
  margin-right : 1em !important;
}

.nav-link : hover {
  color : #000;
}

.navbar-collapse {
  justify-content : center;
  font-size: 25px;
}

.header {        
  background-image: url('background.jpg');        
  background-size: cover;        
  background-position: center;        
  position: relative; 
} 

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #87CEFA;
  color: #fff;
  position: 
}

nav li{
  list-style-type : none;
}

nav > ul{
  margin : 0px;
  padding : 0px;
}

nav > ul > li{
  float : left;
  position : relative;
  padding : 15px 30px 20px 30px;

}

nav > ul::after {
  content : "";
  display : block;
  clear: both;
}

nav a {
  display : inline-block;
  text-decoration : none;
}

nav > ul > li > a{
  padding : 20px 30px;
  color : #FFF;
}

.submenu{
  display : none;
}

nav li:hover .submenu{
  display : inline-block;
  position : absolute;
  top : 100%;
  padding : 0px;
  z-index : 100000;
}

.submenu li{
  border-bottom : 3px solid #CCC;
}

.submenu li a{
  padding : 15px 20px;
  font-size : 13px;
  color : #222538;
  width : 270px;
}

.nav-cat:hover{
  border-top : 3px solid #f1dc4f;
  background-color: rgba(241, 211, 79, 0.15);
}

.nav-cat .submenu{
  background-color : RGB(251, 216, 99);
}

.submenu li:hover a{
  color: #EEE;
  font-weight : bold;
} 

.nav-cat .submenu li:hover{
  background-color : RGB(200, 165, 75);
}
/*Galerie d'objets de la page d'accueil*/
#galerie {
  position: relative;
  height: 200px;
  width: 700px;
  margin: auto;
  
}

#galerie ul li {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
}

h1 {
 text-align: center;
 color: red;
 background-color: #ADD8E6;
}

.next {
 position: relative;
 top: 250px; left: 920px; 
 background-color: #ffff00;
}

.prev {
 position: relative;
 top: 250px; left: 500px;
 background-color: #ffff00;
}

/****************Style pour titre en-tête des page***************************/
.description { 
 text-align: center; 
 color: #87cefa;
 background-color: #ffff;
 padding: 5px;
 }
.description h1 { 
 color: #87cefa;
 background-color: #fff; 
} 
/*********************Style pour les différentes pages***************************/
.page-livres {background-color: #fff; }
.page-musique {background-color: #fff; }
.page-vetement {background-color: #fff; }
.page-sport {background-color: #fff; }
.page-venteflash {
  background-color: #fff;
  margin-left: 10px;}

/**********************VENTES FLASH*****************************/
/*style pour les produits (les cadres)*/
.cadre-prod-venteflash{
  padding: 5px;
  width : 300px;
  height: 400px;
  border: solid;
  color: #D1DBE1;
  /*effet d'ombre autour du cadre du produit*/
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
/*prix et reference commun pour tout le monde*/
.prix{
  text-align: center;
  color: red;
  font-weight: bold; 
}
.reference{
  color: grey;
  text-align: center;
  font-size: 10px;
  font-style: italic;
}
/*description pour livres, vetements et sport et loisirs (pas vraiment besoin pour musique)*/
.description-prod{
  color: grey;
  font-size: 14px;
  text-align: center; 
  padding: 5px;
}
.caracteristic{
  color: grey;
  font-size: 14px;
  text-align: center; 
  padding: 5px;
}

/*pour les div qui contiennent les 4 best sellers de sa propre catégorie*/
.best-livres{
  margin-top: 10px;
}
.best-musique{
  margin-top: 40px;
}
.best-vetement{
  margin-top: 40px;
}
.best-sport{
  margin-top: 40px;
}
/*h6 pour la description des produit : nom, auteur, blabla*/
h6{
  color: #87cefa;
  text-align: center;
}

/***********************Page Livres/Musique/Vetement/Sport... ************************/



/**************************Pied de page******************************************/
.page-footer {
  margin-top: 40px;
 background-color: #222;
 color: #ccc;
 padding: 20px 0 5px;
}
.footer-copyright {
 color: #666;
 padding: 20px 0;
}

/**************************PAGE PANIER******************************************/
.total {
  float : bottom;
  text-align: left;
  border : solid;
  border-color : #D1DBE1;
  color: #222;
  font-size : 20px;
  margin: 10px;
  padding: 8px;
}

.btt {
    border:none;
    padding:6px;
    border-radius:2px;
    box-shadow:3px 3px 12px #999;
    background:#fff;
    font:bold 13px Arial;
    color:#555; 
}

.btt:hover {
  border:none;
  padding:6px;
  border-radius:2px;
  box-shadow:3px 3px 12px #999;
  background:#fff;
  font:bold 13px Arial;
  color:#555; 
  cursor : pointer;
}

/********************************PAGE VENDRE*************************************/
.profil {
  float : right;
}