
body{
  padding : 0px;
  margin: 0px;
  background : #f2f6e9;
}

/*--- Navigation bar ---*/

.navbar {
  background : #04263F;
}

.nav-link, .navbar-brand {
  color : #fff;
  cursor : pointer;
}

.nav-link {
  margin-right : 1em !important;
}

.nav-link : hover {
  color : #000;
}

.navbar-collapse {
  justify-content : center;
  font-size: 30px;
}

.header {        
  background-image: url('background.jpg');        
  background-size: cover;        
  background-position: center;        
  position: relative; 
} 

footer {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #04263F;
  color: #fff;
  position: 
}

nav li{
  list-style-type : none;
}

nav > ul{
  margin : 0px;
  padding : 0px;
}

nav > ul > li{
  float : left;
  position : relative;
  padding : 15px 30px 20px 30px;

}

nav > ul::after {
  content : "";
  display : block;
  clear: both;
}

nav a {
  display : inline-block;
  text-decoration : none;
}

nav > ul > li > a{
  padding : 20px 30px;
  color : #FFF;
}

.submenu{
  display : none;
}

nav li:hover .submenu{
  display : inline-block;
  position : absolute;
  top : 100%;
  padding : 0px;
  z-index : 100000;
}

.submenu li{
  border-bottom : 3px solid #CCC;
}

.submenu li a{
  padding : 15px 20px;
  font-size : 13px;
  color : #222538;
  width : 270px;
}

.nav-cat:hover{
  border-top : 3px solid #f1dc4f;
  background-color: rgba(241, 211, 79, 0.15);
}

.nav-cat .submenu{
  background-color : RGB(251, 216, 99);
}

.submenu li:hover a{
  color: #EEE;
  font-weight : bold;
} 

.nav-cat .submenu li:hover{
  background-color : RGB(200, 165, 75);
}

/**************Galerie d'objets de la page d'accueil****************/
#galerie {
  position: relative;
  width: 500px;
  height: 400px;
  margin: auto;
}

#galerie ul li {
  position: absolute;
  top: 0;
  left: 0;
  list-style: none;
}
.galerie{
  margin-top: 20px;
}

h1 {
 text-align: center;
 color: red;
 background-color: #ADD8E6;
}

.next {
/* position: relative;
 top: 250px; left: 920px; */
 background-color: #ffff00;
 margin-left: 295px;
}

.prev {
/* position: relative;
 top: 250px; left: 500px;*/
 margin-left: 510px;
 background-color: #ffff00;
}
.btn-galerie{
  width: 100px;
  border:none;
  padding:6px;
  border-radius:2px;
  box-shadow:3px 3px 12px #999;
  background:#ffa630;
  font:bold 13px Arial;
  color:#f7f7f7;
}

/****************Style pour titre en-tête des page***************************/
.description { 
 text-align: center; 
 color: #04263F;
 background-color: #f7f7f7;
 padding: 5px;
 }
.description h1 { 
 color: #04263F;
 background-color: #f7f7f7; 
} 
/*********************Style pour les différentes pages***************************/
.page-livres {background-color: #f7f7f7; }
.page-musique {background-color: #f7f7f7; }
.page-vetement {background-color: #f7f7f7; }
.page-sport {background-color: #f7f7f7; }
.page-venteflash {
  background-color: #f7f7f7;
  margin-left: 10px;}

/*pour les div qui contiennent les 4 best sellers de sa propre catégorie*/
.best-livres{
  margin-top: 10px;
}
.best-musique{
  margin-top: 40px;
}
.best-vetement{
  margin-top: 40px;
}
.best-sport{
  margin-top: 40px;
}

/*h6 pour la description des produit : nom, auteur, blabla*/
h6{
  color: #30285b;
  text-align: center;
}

/***********************ZONE PRODUIT : cadre pour Livres/Musique/Vetement/Sport... ************************/
.cadre-prod{
  margin-top: 20px;
  margin-left: 50px;
  padding: 5px;
  width : 1000px;
  height: 200px;
  border: solid;
  color: #D1DBE1;
  /*effet d'ombre autour du cadre du produit*/
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.en-tete-prod{
    color: #30285b;
    font-size: 18px;
}
.prix-prod{
  margin-top: 5px;
  color: #F4261D;
  font-weight: bold; 
}
.reference-prod{
  color: grey;
  font-size: 10px;
  font-style: italic;
}
.description-prod{
  color: grey;
  margin-top: 15px;
  font-size: 14px;
}
.remplir-infos-vet{
  margin-top: 13px;
}
.remplir-infos-prod{
  margin-top: 40px;
  margin-left: 10px;
}

/**************Bouton ajout au panier********************************************/
.ajout-panier-btn{
  margin-left: 20px;
  border:none;
  padding:6px;
  border-radius:2px;
  box-shadow:3px 3px 12px #999;
  background:#ffa630  ;
  font:bold 13px Arial;
  color:#f7f7f7;
}
.ajout-panier-btn:hover{
  margin-left: 20px;
  cursor: pointer;
  border:none;
  padding:6px;
  border-radius:2px;
  box-shadow:3px 3px 12px #999;
  background:#ffa630  ;
  font:bold 13px Arial;
  color:#f7f7f7;
}
/**********************Button delete*****************************************/
.btn-delete{
  background-image: url('img/delete.jpg'); 
  width: 40px;
  height: 40px;
  border:none;
  padding:6px;
  border-radius:2px;
  box-shadow:3px 3px 12px #999;
  font:bold 13px Arial;
}
.btn-delete:hover{
  background-image: url('img/delete.jpg'); 
  width: 40px;
  height: 40px;
  cursor: pointer;
  border:none;
  padding:6px;
  border-radius:2px;
  box-shadow:3px 3px 12px #999;
  background:#d8d8d8;
  font:bold 13px Arial;
}

/**************************Pied de page******************************************/
.page-footer {
  margin-top: 40px;
  background-color: #04263F;
  color: #f7f7f7  ;
  padding: 20px 0 5px;
}
.footer-copyright {
 color: #f7f7f7 ;
 padding: 20px 0;
}


/**************************PAGE PANIER******************************************/
.total {
  float : bottom;
  text-align: left;
  border : solid;
  border-color : #D1DBE1;
  color: #222;
  font-size : 20px;
  margin: 10px;
  padding: 8px;
}

.btt {
    border:none;
    padding:6px;
    border-radius:2px;
    box-shadow:3px 3px 12px #999;
    background:#fff;
    font:bold 13px Arial;
    color:#555; 
}

.btt:hover {
  border:none;
  padding:6px;
  border-radius:2px;
  box-shadow:3px 3px 12px #999;
  background:#fff;
  font:bold 13px Arial;
  color:#555; 
  cursor : pointer;
}

/********************************PAGE VENDRE*************************************/
.profil {
  float : right;
}